<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAR_P6Y6B0vEnNCMOpqsG4WgzgCQF72Zw</string>
	<key>GCM_SENDER_ID</key>
	<string>324347474386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hxm9q.AIMealPlanner</string>
	<key>PROJECT_ID</key>
	<string>aimealplanner-2e79b</string>
	<key>STORAGE_BUCKET</key>
	<string>aimealplanner-2e79b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324347474386:ios:bf082c4c702069a53d180b</string>
</dict>
</plist>